

/* globe rules  */
*{
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}

/* globe rules  */

/* header  */
header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}
header .container .left a{
  color: #777;
}
header .container a:nth-child(2){
  margin-inline: 27px;
}
@media (max-width : 767px){
  header .container a:nth-child(2){
    margin-inline: 7px;
  }
}
header .container > a{
  color: white;
  font-size: 17px;
  padding: 15px 20px;
  background-color: #1D1B67;
  border-radius: 4px;
  display: block;
}
/* header  */
/* landing   */
.landing{

  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.landing .left,
.landing .right{
  flex-basis: 50%;
}
@media (max-width :767px){
  .landing .left,
.landing .right{
  flex-basis: 100%;
}
}

.landing .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 100px;
}
@media (max-width: 767px){
  .landing .left {
    margin-top: 120px;
    padding-inline: 40px;
  }
}
.landing .left h1{
  font-size: 40px;
  font-weight: 900;
  color: #1D1B67;
  margin-bottom: 10px;
}
.landing .left p{
  font-size: 16px;
  color: #777;
  line-height: 1.6;
}
.landing .left .links {
  margin-block: 15px ;
}
.landing .left .links a:first-child{
  color: white;
  font-size: 17px;
  padding: 15px 20px;
  background-color: #1D1B67;
  border-radius: 4px;
  margin-right: 15px;
  /* display: block; */
}
.landing .left .links a:last-child{
  color: #777;

}
.landing .left p:last-child{
  display: flex;
  align-items: center;
}
@media(max-width :767px){
  .landing .left p:last-child{
    font-size: 15px;
  }
}
.landing .left p:last-child img{
  margin-right: 10px;
}
.landing .left p:last-child a{
  color: #777;
  font-weight: bold;
  margin-left: 5px;
  border-bottom: 2px solid ;

}
.landing .right{
  background-color: #46CCDE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .right img{
  width: 500px;
  max-width: 100%;
  padding-top: 92px;
}
/* landing */